h1 {
	font-size: 30px;
	color: #4aaaa5;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

p, h3 {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

body {
	background-image: url('../images/concrete-texture.png');
}

section {
	width: 960px;
	clear: both;
}

/* Top Navigation & Logo */

#header, .logo {
	background-color: #4aaaa5;
	float: left;
	color: #ffffff;
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	padding: 28.5px;
	margin-left: 125px;
}

#mainHeader {
	color: #ffffff;
}

.topBar {
	background-color: #ffffff;
	border-bottom: #cccccc;
	box-shadow: 0px 0px 1px 0px;
	/*padding-bottom: 37px;*/
	overflow: hidden;
}

.topnav {
	background-color: #ffffff;
	overflow: hidden;
	padding-top: 30px;
	padding-right: 155px;
	float: right;
}

.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	border-right: 1px solid #777777;
}

.topnav a:last-child {
	border-right: none;
}

/* Bio Section */

.about {
	margin-top: 30px;
	margin-left: 125px;
	margin-right: 25px;
	border: 1px solid #cccccc;
	border-radius: 1px;
	border-color: #dddddd;
	float: left;
	display: inline-block;
	width: 650px;
	background-color: #ffffff;
}

.section {
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 25px;
	padding-right: 10px;
}

#aboutMe {
	margin-bottom: 50px;
	padding-bottom: 10px;
	margin-right: 10px;
	border-bottom: 2px solid #cccccc;
}

#bio {
	text-align: left;
	line-height: 28px;
}

#profilePic {
	padding-right: 10px;
}

/* Contact Form */

.contact {
	float: left;
	margin-right: 25px;
	margin-left: 125px;
	margin-top: 30px;
	margin-bottom: 55px;
	padding: 20px;
	width: 60%;
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 1px;
	background-color: #ffffff;
}

#contact-me {
	border-bottom: 2px solid #cccccc;
	padding-bottom: 15px;
	padding-top: 5px;
}

#contact-form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

form p {
	padding-top: 10px;
}

form {
	width: 100%;
	padding-top: 20px;
}

input {
	height: 30px;
}

.text-input {
	width: 500px;
}

.button {
	background-color: #4aaaa5;
	border: none;
	color: white;
	padding: 8px 20px;
	font-size: 15px;
}

/* Portfolio Area */

.portfolio {
	background: #fff;
	border: 1px solid #cccccc;
	width: 70%;
	height: 600px;
	padding-bottom: 175px;
	margin-left: 125px;
	margin-right: 25px;
	margin-top: 30px;
	float: left;
}

.gallery {
	margin-left: 40px;
	margin-top: 20px;
}

#portfolio-head {
	border-bottom: 2px solid #cccccc;
	margin: 10px 25px;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.image {
	position: relative;
	width: 100%;
}

.image img {
	width: 100%;
}

.image h3 {
	position: absolute;
	bottom: 10px;
	width: 89.5%;
	padding: 13px;
	color: white;
	text-align: center;
	background-color: #4aaaa5;
}

div.image {
	float: left;
	margin: 15px;
	width: 250px;
}

/* Sidebar Area */

.aside {
	float: left;
	margin-right: 10em;
	margin-top: 30px;
	margin-left: 5px;
	border: 1px solid #cccccc;
	border-radius: 1px;
	width: 250px;
	background-color: #ffffff;
}

.sidebar {
	padding: 10px;
}

#connect {
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 2px solid #cccccc;
	width: 10em;
	font-size: 20px;
	font-weight: bold;
}

.social-icons {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 18px;
	padding-bottom: 10px;
}

.social-icons img {
	width: 25%;
	height: 25%;
	padding: 2px;
}

/* Footer Area */

.foot-rel {
	position: relative;
	margin-top: 100px;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #666666;
	width: 100%;
	height: 80px;
	border-top: 6px solid #4aaaa5;
	margin-top: 30px;
}

#copyright {
	text-align: center;
	padding-top: 35px;
}

.clear {
	clear: both;
}
